.formlayout {
    margin: auto;
    width: 800px;
    margin-top: 50px;
    padding: 25px;
    outline-color: #0063cc;
    outline-style: auto
}

.datePicker {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stack {
    margin-top: 2rem;
    justify-content: end;
}

.button {
    margin: 10px;

}